# Xmake cache
/.xmake/
/build/
/vsxmake*/


# MacOS Cache
.DS_Store

# vscode
/.vscode

/.cache/

# 保留bin作为空文件夹
/bin/*
!/bin/.gitkeep

# vs
/.vs

# idea
.idea

# CMake
CMakeLists.txt
/cmake-build-debug


